body {
  background-color: white;
}
.box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}
.main {
  height: 400px;
  min-width: 100px;
  border: 20px;
}
.list-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
/* li {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
